/* .report-pdf{
    background-color: white;
    padding: 20px 20px 30px 20px;
    width: 600px;
    max-height: 80vh;
    overflow-y: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.report-table{
    width: 80%;
    text-align: left;
} */
